In [1]:
# datasets
import os

files = os.listdir()
files = list(filter(lambda x: x.endswith('.csv'), files))

files

['data5728559800236095482.csv', 'data8220457880066555889.csv']

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df1 = pd.read_csv(files[0])
df2 = pd.read_csv(files[1])

In [3]:
df1.tail()

,significance,numeric,lga_name06,ci_high,vic_ave,lga_code06,ci_low
74,none,52.6,Wodonga (RC),59.8,50.7,27170,45.3
75,none,52.6,Wyndham (C),59.8,50.7,27260,45.3
76,better,67.7,Yarra (C),74.8,50.7,27350,59.7
77,none,50.9,Yarra Ranges (S),57.7,50.7,27450,44.1
78,none,44.5,Yarriambiack (S),53.1,50.7,27630,36.2

In [4]:
# looks like the columns have a space...
df1.columns

Index(['significance', ' numeric', ' lga_name06', ' ci_high', ' vic_ave',
       ' lga_code06', ' ci_low'],
      dtype='object')

In [5]:
# so let's remmove them
df1.columns = [i.strip() for i in df1.columns]

In [6]:
df2.tail()

,ppl_reporting_fair_or_poor_hlth_status_rank,ppl_reporting_being_obese_perc,females_reporting_being_obese_perc,gp_attendances_per_1000_males_rank,proj_ann_chg_inpatient_separts_btwn_2014_15_and_2026_27_perc,specialist_attendances_per_1000_pop_rank,acsc_pph_separts_for_all_conds_per_1000_pop_rank,cervical_cancer_screening_participation_rank,disability_sup_pension_recipients_per_1000_eligible_pop,chn_attd_3_5_yr_old_maternal_and_child_hlth_checks_perc,...,households_with_mortgage_stress_rank,avg_lng_of_stay_days_all_acsc_pph_separts,ppl_reporting_heart_disease_rank,new_settler_arrivals_per_100000_pop,journeys_to_work_which_are_by_public_transport_rank,ppl_who_did_not_complete_yr_12_rank,proj_ann_pop_chg_perc_2014_2024,chn_dev_vul_in_one_or_more_doms_perc,male_life_expectancy,new_dwellings_approved_per_1000_pop_rank
74,63,20.3,20.4,44,3.2,50,76,17,64.7,65.8,...,67,5.1,5,146.9,54,35,1.8,22.9,80.3,22
75,21,25.1,26.9,25,5.3,79,67,78,33.6,57.0,...,24,3.5,68,1185.7,19,61,4.0,25.0,80.1,7
76,43,12.1,9.1,72,3.4,31,74,16,42.2,70.6,...,79,4.0,39,662.4,2,75,2.2,18.3,79.6,6
77,37,16.4,15.7,49,2.7,33,50,21,49.6,60.1,...,41,4.0,48,158.6,30,49,0.8,16.8,80.1,54
78,2,25.2,25.0,4,-0.8,42,10,71,129.2,98.0,...,46,4.0,3,14.5,76,2,-0.9,26.9,78.1,77

In [7]:
df2.columns

Index(['ppl_reporting_fair_or_poor_hlth_status_rank',
       ' ppl_reporting_being_obese_perc',
       ' females_reporting_being_obese_perc',
       ' gp_attendances_per_1000_males_rank',
       ' proj_ann_chg_inpatient_separts_btwn_2014_15_and_2026_27_perc',
       ' specialist_attendances_per_1000_pop_rank',
       ' acsc_pph_separts_for_all_conds_per_1000_pop_rank',
       ' cervical_cancer_screening_participation_rank',
       ' disability_sup_pension_recipients_per_1000_eligible_pop',
       ' chn_attd_3_5_yr_old_maternal_and_child_hlth_checks_perc',
       ...
       ' households_with_mortgage_stress_rank',
       ' avg_lng_of_stay_days_all_acsc_pph_separts',
       ' ppl_reporting_heart_disease_rank',
       ' new_settler_arrivals_per_100000_pop',
       ' journeys_to_work_which_are_by_public_transport_rank',
       ' ppl_who_did_not_complete_yr_12_rank',
       ' proj_ann_pop_chg_perc_2014_2024',
       ' chn_dev_vul_in_one_or_more_doms_perc', ' male_life_expectancy',
       ' new_dwellings_approved_per_1000_pop_rank'],
      dtype='object', length=402)

In [8]:
# likewise with df2
df2.columns = [i.strip() for i in df2.columns]

In [9]:
# find the blood pressure attribute(s)
blood_pressure_cols = [i for i in df2.columns if 'blood' in i.lower()]
blood_pressure_cols

['ppl_reporting_high_blood_pressure_perc',
 'ppl_reporting_high_blood_pressure_rank']

In [10]:
# merge datasets (add the lga_code on the df2 side)
df = df2[blood_pressure_cols + ['lga_code']].merge(df1, left_on='lga_code', right_on='lga_code06')
df.tail()

,ppl_reporting_high_blood_pressure_perc,ppl_reporting_high_blood_pressure_rank,lga_code,significance,numeric,lga_name06,ci_high,vic_ave,lga_code06,ci_low
74,28.1,29,27170,none,52.6,Wodonga (RC),59.8,50.7,27170,45.3
75,29.6,12,27260,none,52.6,Wyndham (C),59.8,50.7,27260,45.3
76,22.5,64,27350,better,67.7,Yarra (C),74.8,50.7,27350,59.7
77,23.6,57,27450,none,50.9,Yarra Ranges (S),57.7,50.7,27450,44.1
78,28.3,27,27630,none,44.5,Yarriambiack (S),53.1,50.7,27630,36.2

In [11]:
df.set_index('lga_code', inplace=True)